@model IEnumerable<HotelResort.EntidadDeNegocio.TipoCargo>

@{
    ViewData["Title"] = "Index";
    int numPage = 1;
    int numRegistros = 0;
    int numRegistrosPorPage = 10;
    int[] tops = { 5,10, -1 };
    int topActual = Convert.ToInt32(ViewBag.Top);
}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg bg-body-tertiary text-right">
    <div class="container-fluid" style="background-color: #B4B4B4">
        <a class="navbar-brand" href="#"> <img src="~/images/LOGO12.png" alt="logo" width="100px" /> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-row-reverse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-1 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/AdminLogin">Volver al Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Empleado" asp-action="CerrarSesion">Cerrar sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<h1 class="text-center">Buscar Tipo Cargo</h1>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Index">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Cargo</label>
                        <input type="text" class="form-control" name="Cargo" />
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Top</label>
                        <select name="top_aux" class="form-control">
                            @foreach (var item in tops)
                            {
                                string strItem = item != -1 ? item.ToString() : "Todos";
                                if (item != topActual)
                                {
                                    <option value="@item">@strItem</option>
                                }
                                else
                                {
                                    <option selected value="@item">@strItem</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group text-center">
                <input type="submit" value="Buscar" class="btn btn-outline-primary" /> |
                <a asp-action="Create" class="btn btn-outline-success">Crear Nuevo Cargo</a>
            </div>
        </form>
    </div>
</div>
<br />
<h4 class="text-center btn-outline-success">Taba de Registro de Tipo Cargo</h4>
<table class="table table-responsive table-striped paginationjs">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-page="@numPage">

                <td>
                    @Html.DisplayFor(modelItem => item.Cargo)
                </td>

                <td>
                    @Html.ActionLink("Modificar", "Edit", new {  id=item.Id}, new {@class = "btn btn-outline-primary"} )   |
                    @Html.ActionLink("Detalles", "Details",new {  id=item.Id}, new {@class = "btn btn-outline-secondary"}  ) |
                    @Html.ActionLink("Eliminar", "Delete",new {  id=item.Id}, new {@class = "btn btn-outline-danger"}  )
                </td>
            </tr>
            numRegistros++;
            if (numRegistros == numRegistrosPorPage)
            {
                numPage++;
                numRegistros = 0;
            }
        }
        @{
            if (numRegistros == 0)
            {
                numPage--;
            }
        }
    </tbody>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</table>
@if (numPage > 1)
{
    <div class="row" style="overflow:auto">
        <div class="col-md-12">
            <ul class="pagination paginationjs" data-numpage="@numPage" data-pageactive="1">
                <li class="page-item" data-typepage="Previous"><a class="page-link" href="#">Previous</a></li>
                @for (var i = 1; i <= numPage; i++)
                {
                    <li class="page-item" data-page="@i" data-typepage="Item"><a class="page-link" href="#">@i</a></li>
                }
                <li class="page-item" data-typepage="Next"><a class="page-link" href="#">Next</a></li>
            </ul>
        </div>
    </div>
}
