@model HotelResort.EntidadDeNegocio.CatalogoHotel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles de las Habitaciones</h1>

<div>

    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.imagen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.imagen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClaseHabitacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClaseHabitacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Detalles)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Detalles)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumHabitacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumHabitacion)
        </dd>


    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-warning">Regresar</a>
</div>
