@model HotelResort.EntidadDeNegocio.CatalogoHotel

@{
    ViewData["Title"] = "Details";
}

<body class="bg-secondary d-flex align-items-center vh-50">
    @*clase para justificar texto y justificar el contenedor*@
    <div class="modal-dialog justify-content-center">
        <div class="col-md-25">
            <div class="modal-content p-sm-5 p-xxl-8 border-info border-3">
                <h2 class="text-info">Detalles del Catalogo Hotel</h2>
                <div>
                    <hr />
                    <dl class="row">

                        @*<dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.imagen)
                        </dt>
                        <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.imagen)
                        </dd>*@
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ClaseHabitacion):
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ClaseHabitacion)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Detalles):
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Detalles)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Precio):
                        </dt>
                        <dd class="col-sm-10">
                           $ @Html.DisplayFor(model => model.Precio)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.NumHabitacion):
                        </dt>
                        <dd class="col-sm-10">
                           # @Html.DisplayFor(model => model.NumHabitacion)
                        </dd>
                    </dl>
                    @Html.ActionLink("Modificar", "Edit", new {  id = Model.Id  }, new {@class="btn btn-outline-primary"}) |
                    <a asp-action="Index" class="btn btn-outline-warning">Regresar ala Lista</a>
                </div>
            </div>
        </div>
    </div>
</body>

